html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
  margin: 0;
  min-width: 100vh;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

button > * {
  pointer-events: none;
}
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.todos-container {
  background-color: pink;
  height: 20rem;
  max-width: 40rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project {
  border: solid pink 5px;
}

.todo {
  border: solid lightgreen 5px;
  display: flex;
  justify-content: space-between;
}

.project-delete-btn {
  visibility: hidden;
  min-width: fit-content;
}

.active .project-delete-btn,
.project:hover .project-delete-btn {
  display: block;
  visibility: visible;
}

.active {
  background-color: hsl(0, 48%, 49%);
}

.add-project-btn {
  display: flex;
  align-items: center;
}